#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(197, 197, 197);
    align-self: center;
    align-items: center;
    min-height: 200px;
    max-width: 600px;
    border-radius: 2rem;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

#addItemsDiv {
    width: 400px;
}
#displaySection{
    /* height: 20vh; */
    width: 400px;
}

button{
    background-color:limegreen;
    border-radius: 20rem;
    border: none;
    min-height: 2rem;
    min-width: 4rem;
}